* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  --background-color: #fafafafa;
  --input-border-color: #979797;
  --color: #000;
  --shadow-color: 0px 4px 8px #141414;
  --highlight-background: #FFF;
  --highlight-color: rgba(0, 0, 0, 0.7);
  --highlight-description: #000;

  background-color: var(--background-color);
}

.header {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 15px;
}

.header__title {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 150%;
  color: #E50914;
}

.btn-theme {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  all: unset;
  box-sizing: border-box;
  width: 400px;
  background: var(--background-color);
  margin-bottom: 40px;
  padding: 14px;
  border: 2px solid var(--input-border-color);
  border-radius: 8px;
  color: var(--color);
}

.input, .input::placeholder {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.input::placeholder {
  color: var(--input-border-color);
}


.movies-container img {
  width: 20px;
  
}

.movies-container, .movies {
  display: flex;
  align-items: center;
  gap: 10px;
}

.movies-container {
  margin-bottom: 40px;
  transition: transform .5s cubic-bezier(.5,0,.1,1) 0s;
  transform-origin: 45% 50%;
}

.btn-prev, .btn-next {
  cursor: pointer;
}

.movie {
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 168px;
  height: 300px;

  display: flex;
  flex-direction: column;

  box-shadow: var(--shadow-color);

  cursor: pointer;
  animation: scaledown .4s ease;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

.movie:hover {
  z-index: 100;
  -webkit-animation: scale 0.4s ease;
  animation: scale 0.4s linear;
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}


@keyframes scaledown{
  0% {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    
  }
  100%{
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 10px 10px 60px 10px rgba(0, 0, 0, 0.3);
  }
}

.movie__info {
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;


  margin-top: auto;
  padding: 10px 8px;
}

.movie__title {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: #FDFDFD;
}

.movie__rating {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  color: #FBCD6E;
}

.subtitle {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;

  margin-bottom: 16px;

  color: #E50914;
}

.highlight {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
}

.highlight__video {
  width: 550px;
  height: 340px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight__info {
  max-width: 360px;
  height: 340px;
  border-radius: 5px;
  background: var(--highlight-background);
  box-shadow: var(--shadow-color);

  padding: 16px;
}

.highlight__title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.highlight__title {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;

  color: #E50914;
}

.highlight__rating {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;

  color: #E50914;
}

.highlight__genre-launch {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--highlight-color);
  margin-bottom: 36px;
}

.highlight__description {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: var(--highlight-description);
}

.modal {
  background: rgba(0, 0, 0, 0.8);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 56px;

  overflow-y: scroll;
}

.hidden {
  display: none;
}

.modal__close {
  cursor: pointer;
  align-self: flex-end;

  margin-bottom: 10px;
}

.modal__title {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;

  color: #FFFFFF;

  margin-bottom: 40px;
}

.modal__img {
  border-radius: 5px;
  max-width: 500px;
  margin-bottom: 20px;
}

.modal__description {
  max-width: 730px;

  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffff;
  font-weight: bold;
  margin-bottom: 16px;
}

.modal__genre-average {
  width: 730px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__genres {
  display: flex;
  gap: 12px;
}

.modal__genre, .modal__average {
  border-radius: 5px;
  padding: 10px;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
}

.modal__genre {
  background: #E50914;
}

.modal__average {
  background: #E50914;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #E50914;
  border-radius: 2px;
}